body{
    font-size: 16px;
    color: #000000;
}

h1,h2,h3,h4,h5,h6{
    font-weight: bold;
    text-align: center;
    color: #333333;
}

p{
    font-size: 1.2em;
}

code{
    font-family: "Courier New", Courier, monospace;
}

comment1{
    font-family: "Courier New", Courier, monospace;
}

comment2{
    font-family: "Courier New", Courier, monospace;
}

comment3{
    font-family: "Courier New", Courier, monospace;
}

comment4{
    font-family: "Courier New", Courier, monospace;
}

comment5{
    font-family: "Courier New", Courier, monospace;
}


comment6{
    font-family: "Courier New", Courier, monospace;
}

